#!/usr/bin/python3

import os

status = os.getenv('TEASTATUS')

file_object = open("/tmp/tea4cups.log", "a+")
file_object.write("\n" + status)
file_object.close()

# TODO: Trocar status da impressão para cancelado
# TODO: Trocar status da impressão para sucesso