deb http://deb.debian.org/debian {{proaluno_debian_version}} main contrib non-free non-free-firmware
deb http://deb.debian.org/debian {{proaluno_debian_version}}-updates main contrib non-free non-free-firmware
deb https://security.debian.org/ {{proaluno_debian_version}}-security main contrib non-free non-free-firmware
